<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/layout.xhtml">
        <ui:define name="main" >
            <h1>Zastosowania</h1>
            
            <h:dataTable id="tabela" value="#{destinyController.destines}" var="Zastosowanie" styleClass="ui celled table">
                <h:column>
                    <f:facet name="header"><h:outputLabel value="Nazwa" /></f:facet>
                    <h:outputText value="#{Zastosowanie.name}" />
                </h:column>
                
                <h:column>
                    <f:facet name="header">Przypisania</f:facet>
                    <ui:repeat value="#{Zastosowanie.things}" var="kolekcja">
                        <h:outputText value="#{kolekcja.name}" />
                    </ui:repeat>
                </h:column>

            </h:dataTable>
            
            <h2>Dodaj</h2>
            <form class="ui form">
                <div class="field">
                    <label>Nazwa</label>
                    <input type="text" id="name" />
                </div>
                <div class="field">
                    <input type="submit" id="add-thing" class="ui green button" autofocus="true" value="Dodaj" />
                </div>
            </form>
        </ui:define>
    </ui:composition>

</html>

