<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/layout.xhtml">
        <ui:define name="main" >
            <h1>Zastosowania/Przedmioty</h1>
            
            
            <h2>Dodaj</h2>
            <h:form class="ui form">
                <div class="field">
                    <h:selectOneMenu value="#{destinyThingController.destinyValue}">
                        <f:selectItems value="#{destinyThingController.destines}" var="c" itemLabel="#{c.getName()}" itemValue="#{c.getId()}" />
                    </h:selectOneMenu>  
                </div>
                
                <div class="field">
                    <h:selectOneMenu value="#{destinyThingController.thingValue}">
                        <f:selectItems value="#{destinyThingController.things}" var="c" itemLabel="#{c.getName()}" itemValue="#{c.getId()}" />
                    </h:selectOneMenu>
                </div>
                <h:commandButton value="Zapisz" class="ui button" action="#{destinyThingController.create}"/>     

            </h:form>
        </ui:define>
    </ui:composition>

</html>

