<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/layout.xhtml">
        <ui:define name="main" >
            <h1>Pracownicy</h1>

            <h:dataTable id="tabela" value="#{employeesController.employed}" var="Pracownik" styleClass="ui celled table">
                <h:column>
                    <f:facet name="header"><h:outputLabel value="Imie" /></f:facet>
                    <h:outputText value="#{Pracownik.firstname}" />
                </h:column>

                <h:column>
                    <f:facet name="header"><h:outputLabel value="Nazwisko" /></f:facet>
                    <h:outputText value="#{Pracownik.lastname}" />                    
                </h:column>
                
                <h:column>
                    <f:facet name="header"><h:outputLabel value="Przedmioty" /></f:facet>
                    
                    <h:panelGroup rendered="#{not empty Pracownik.things.size()}">

                        <ui:repeat value="#{Pracownik.things}" var="Przedmiot">
                            <div class="ui left labeled button" tabindex="0">
                                <a class="ui basic label">
                                    <h:outputText value="#{Przedmiot.name}" />
                                </a>
                                <div class="ui icon button remove-thing" data-id="#{Przedmiot.id}">
                                    <i class="trash icon"></i>
                                </div>
                            </div>
                        </ui:repeat>

                    </h:panelGroup>
                </h:column>

                <h:column>
                    <a href="#" data-id="#{Pracownik.id}" data-type="employee" class="remove ui button red"><i class="icon trash"></i> Usuń</a>
                </h:column>
            </h:dataTable>
            
            <h2>Dodaj</h2>
            <form class="ui form">
                <div class="field">
                    <label>Imie</label>
                    <input type="text" id="firstname" />
                </div>
                <div class="field">
                    <label>Nazwisko</label>
                    <input type="text" id="lastname" />
                </div>
                <div class="field">
                    <input type="submit" id="add-employee" class="ui green button" value="Dodaj" />
                </div>
            </form>
        </ui:define>
    </ui:composition>

</html>

