<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
                <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css" />
                <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js" />
                <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" />
                <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js" />
                <h:outputScript library="js" name="common.js" target="body" />
                <style>
                    .main {
                        width: 1170px;
                        margin: 0 auto;
                        padding: 20px 0;
                    }
                </style>
            </f:facet>
        </h:head>

        <h:body>
            <div class="main">
                <div class="ui secondary  menu">
                    <h:link value="Ludzie" outcome="index" styleClass="item" />

                    <h:link value="Przedmioty" outcome="thing" styleClass="item" />
                    
                    <h:link value="Zastosowania" outcome="destiny" styleClass="item" />
                    
                    <h:link value="Zastosowania/Przedmioty" outcome="destinyThing" styleClass="item" />

                  </div>
                <ui:insert name="main" />
            </div>
        </h:body>

    </f:view>
</html>

