<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/layout.xhtml">
        <ui:define name="main" >
            <h1>Przedmioty</h1>
            
            <h:dataTable id="tabela" value="#{thingsController.things}" var="Przedmiot" styleClass="ui celled table">
                <h:column>
                    <f:facet name="header"><h:outputLabel value="Nazwa" /></f:facet>
                    <h:outputText value="#{Przedmiot.name}" />
                </h:column>
                
                <h:column>
                    <f:facet name="header">Pracownik</f:facet>
                    
                    <h:form>
                        <h:selectOneMenu value="#{Przedmiot.idEmployee}" styleClass="assing-person" title="#{Przedmiot.id}">
                            <f:selectItem itemValue="#{null}" itemLabel="-- select one --" />
                            <f:selectItems value="#{thingsController.employed}" var="c" itemLabel="#{c.getFirstname()} #{c.getLastname()}" itemValue="#{c.getId()}" />
                        </h:selectOneMenu>
                    </h:form>
                </h:column>
                
                <h:column>
                    <f:facet name="header">Przypisania</f:facet>
                    <ui:repeat value="#{Przedmiot.destines}" var="kolekcja">
                        <h:outputText value="#{kolekcja.name}" />
                    </ui:repeat>
                </h:column>

                <h:column>
                    <a href="#" data-id="#{Przedmiot.id}" data-type="thing" class="remove ui button red"><i class="icon trash"></i> Usuń</a>
                </h:column>
            </h:dataTable>
            
            <h2>Dodaj</h2>
            <form class="ui form">
                <div class="field">
                    <label>Nazwa</label>
                    <input type="text" id="name" />
                </div>
                <div class="field">
                    <input type="submit" id="add-thing" class="ui green button" autofocus="true" value="Dodaj" />
                </div>
            </form>
        </ui:define>
    </ui:composition>

</html>

